*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::after,
::before {
    position: absolute;
    display: block;
}

a {
    text-decoration: none;
    color: unset;
}

ul,
ol {
    list-style: none;
}

button:active,
input[type=submit]:active,
input:focus,
textarea:focus {
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

input,
textarea {
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
}

input,
textarea,
button {
    font-family: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
    background: none;
    color: unset;
}

input {
    -moz-appearance: textfield;
    appearance: textfield;
}


/* INIT */
:root {
    --text: #111;
    --bg: #F0F0F0;
    --highlight-color: #00F0AE;
    --wux-bezier: cubic-bezier(.72, 0, .28, .99);
    /* --forefront-bezier: cubic-bezier(.01, 1.37, .72, 1.33); */
    --forefront-bezier: cubic-bezier(.03, 1.72, .34, 1.09);
    /* --backwards-bezier: cubic-bezier(.72, -0.66, 1, -0.01); */
    --backwards-bezier: cubic-bezier(.79, .08, .95, .26);
}

h1,
h2,
h3,
h4 {
    /* font-family: "Audiowide", sans-serif; */
    font-family: "Bruno Ace", sans-serif;
    /* font-family: "Days one", sans-serif; */
    font-weight: 400;
    font-style: normal;
}

.redirect-logo,
h1 {
    position: fixed;
    top: 10px;
    z-index: 50;
}

h1 {
    -webkit-text-stroke: .01em var(--highlight-color);
    color: var(--highlight-color);
}

.redirect-logo {
    position: fixed;
    left: 10px;
    height: 30px;
    width: auto;
    fill: var(--text);
}

.rotating-star {
    transform-origin: 85% 20%;
    transition: rotate 1.6s var(--wux-bezier), fill 1.6s var(--wux-bezier);
}

.redirect-logo:hover .rotating-star {
    rotate: 720deg;
    fill: var(--highlight-color);
}

h1 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    right: 10px;
}

.product-full,
.product-description,
.product-price,
.product-btn-ctn,
.product-name {
    height: 1lh;
    /* overflow: hidden; */
}

.product-name {
    position: relative;
    translate: 0 -100%;
}

.product-full {
    height: 2lh;
}

.product-btn-ctn {
    height: fit-content;
}

.product-full,
.product-description {
    margin-bottom: 12px;
}

.product-description {
    line-height: 1.8;
    height: 6lh;
    overflow: hidden;
    padding-inline-start: 0;
    list-style-type: "⬩";
}

.product-description ul {
    padding-inline-start: 10px;
    list-style-type: "⬩";
}

.product-description li {
    display: list-item;
    padding-left: 8px;
}

.product-description li::marker {
    color: var(--highlight-color);
}

.slideY,
.slideX {
    display: block;
    position: relative;
    translate: 0 100%;
    opacity: 0;
}

.slideY {
    translate: 0 100%;
}

.slideX {
    translate: 10% 0;
}

.product-btn-ctn button.slideY {
    padding: 14px 40px;
    border-radius: 30px;
    border: 1px solid;
    background: hsl (from var(--highlight-color) h s l / 0%);
    text-transform: uppercase;
}

.product-btn-ctn button.slideY:hover {
    background-color: var(--highlight-color);
    box-shadow: inset 0 0 0 1px var(--highlight-color);
}

.slideY,
.slideX {
    transition: translate .8s cubic-bezier(0, 1, .56, .94),
        opacity .8s cubic-bezier(0, 1, .56, .94);
}

.product-btn-ctn button.slideY {
    transition: translate .8s .85s cubic-bezier(0, 1, .56, .94),
        opacity .8s .85s cubic-bezier(0, 1, .56, .94),
        background-color .15s 0s ease-in-out,
        box-shadow .15s 0s ease-in-out;
}

.product-full .slideY {
    transition-delay: .4s;
}

.product-description .slideX {
    transition-delay: .55s;
}

.product-price .slideY {
    transition-delay: .7s;
}


.product-name,
.product-full {
    font-size: 28px;
}

.product-full,
.product-price {
    font-size: 32px;
}

.product-description {
    font-size: 15px;
}

.product-price {
    margin-bottom: 30px;
}



body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg);
    color: var(--text);
    font-family: "Sulphur-point", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.showcase-container {
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: translate 4s var(--forefront-bezier),
        /* z-index 0s 1s linear, */
        transform 4s cubic-bezier(0.075, 0.82, 0.165, 1),
        width 4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* .showcase-container::before {
    inset: 0;
    content: '';
    background: var(--bg);
    z-index: -1;

} */

.close {
    visibility: hidden;
    opacity: 0;
    transition: opacity .8s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    translate: 0 -150%;
    font-size: 50px;
    width: 40px;
    height: 40px;
}

.video-item {
    width: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: translate 4s linear;
    position: absolute;
    perspective: 100px;
    border: 1px solid #00F0AE;
}

.main-window {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* border: 1px solid red; */
    translate: -50% -50%;
    height: 100%;
    perspective: 1000px;
}

.expand-trigger,
.clockwise,
.anti-clockwise {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 2;
    cursor: pointer;
}

video {
    /* max-width: 1200px; */
    height: 90vh;
    pointer-events: none;
}

.details-block {
    visibility: hidden;
    width: 700px;
    position: relative;
    height: 0;
}

.product-btn-ctn button.slideY,
.product-full .slideY,
.product-description .slideX,
.product-price .slideY {
    transition: translate .1s 0s cubic-bezier(0, 1, .56, .94),
        opacity .1s 0s cubic-bezier(0, 1, .56, .94);
}

/* FAR AWAY */
/* [data-pos="3"] video,
[data-pos="6"] video {
    opacity: .2;
}

[data-pos="2"] video,
[data-pos="5"] video {
    opacity: .4;
} */

/* POSITIONS */
[data-pos="1"] .video-item,
[data-pos="4"] .video-item {
    translate: 0 0 0;
    z-index: 10;
}

[data-pos="2"],
[data-pos="5"] {
    translate: 35vw 0 0;
}

[data-pos="3"],
[data-pos="6"] {
    translate: -30vw 0 0;
}


/* TRANSITIONS */

[data-pos="3"] .showcase-container,
[data-pos="6"] .showcase-container {
    translate: 0 0 -10vw;
    transition: translate 4s linear;
}

[data-pos="2"] .showcase-container,
[data-pos="5"] .showcase-container {
    translate: 0 0 -5vw;
    transition: translate 4s var(--backwards-bezier);
}

.video-item.ctn-antiClockwise[data-pos="2"] .showcase-container,
.video-item.ctn-antiClockwise[data-pos="5"] .showcase-container {
    transition: translate 4s linear;
}

.video-item.ctn-antiClockwise[data-pos="3"] .showcase-container,
.video-item.ctn-antiClockwise[data-pos="6"] .showcase-container {
    transition: translate 4s var(--forefront-bezier);
}



.video-item.ctn-clockwise[data-pos="2"],
.video-item.ctn-clockwise[data-pos="5"] {
    transition: translate 4s linear;
    z-index: 6;
}

.video-item.ctn-clockwise[data-pos="3"],
.video-item.ctn-clockwise[data-pos="6"] {
    transition: translate 4s var(--forefront-bezier);
    z-index: 3;
}

.video-item.ctn-antiClockwise[data-pos="2"],
.video-item.ctn-antiClockwise[data-pos="5"] {
    z-index: 6;
    transition: translate 4s var(--forefront-bezier);
}

.video-item.ctn-antiClockwise[data-pos="3"],
.video-item.ctn-antiClockwise[data-pos="6"] {
    transition: translate 4s linear;
    z-index: 6;
}



/* TRIGGERS */

[data-pos="1"] .anti-clockwise,
[data-pos="4"] .anti-clockwise,
[data-pos="1"] .clockwise,
[data-pos="4"] .clockwise {
    visibility: hidden;
}

[data-pos="2"] .expand-trigger,
[data-pos="5"] .expand-trigger,
[data-pos="2"] .anti-clockwise,
[data-pos="5"] .anti-clockwise {
    visibility: hidden;
}

[data-pos="3"] .clockwise,
[data-pos="6"] .clockwise,
[data-pos="3"] .expand-trigger,
[data-pos="6"] .expand-trigger {
    visibility: hidden;
}

/* DETAILS EXPANSION*/
.video-item.expand {
    transform: translate(0px, 0px);
    width: 100%;
}

.expand .product-name {
    /* height: 0;
    width: 0; */
    opacity: 0;
}

.expand .details-block {
    visibility: unset;
    height: unset;
}

.expand .showcase-container {
    flex-direction: unset;
    width: 100%;
    gap: 30px;
    justify-content: unset;
}

.expand .details-block .slideY,
.expand .details-block .slideX {
    translate: 0 0;
    opacity: 1;
    transition: translate .8s cubic-bezier(0, 1, .56, .94),
        opacity .8s cubic-bezier(0, 1, .56, .94);
}

.expand .expand-trigger {
    visibility: hidden;
}

.expand .close {
    visibility: unset;
    opacity: 1;
}

.expand .product-btn-ctn button.slideY {
    transition: translate .8s .85s cubic-bezier(0, 1, .56, .94),
        opacity .8s .85s cubic-bezier(0, 1, .56, .94),
        background-color .15s 0s ease-in-out,
        box-shadow .15s 0s ease-in-out;
}


.expand .product-full .slideY {
    transition-delay: .4s;
}

.expand .product-description .slideX {
    transition-delay: .55s;
}

.expand .product-price .slideY {
    transition-delay: .7s;
}


@media screen and (max-width:1200px) {

    .showcase-container,
    .video-item {
        width: 400px;

    }

    video {
        max-width: 800px;
    }

    .product-name {
        font-size: 22px;
    }

    .video-content-wrapper[data-pos="2"],
    .video-content-wrapper[data-pos="5"] {
        translate: 0 -18vw -80vw;
    }

    .video-content-wrapper[data-pos="3"],
    .video-content-wrapper[data-pos="6"] {
        translate: 0 -30vw -100vw;
    }
}

@media screen and (max-width:1000px) {

    .showcase-container,
    .video-item {
        width: 400px;

    }

    video {
        max-width: 600px;
    }

    .product-name {
        font-size: 18px;
    }

    .video-content-wrapper[data-pos="2"],
    .video-content-wrapper[data-pos="5"] {
        translate: 0 -24vw -80vw;
    }

    .video-content-wrapper[data-pos="3"],
    .video-content-wrapper[data-pos="6"] {
        translate: 0 -36vw -100vw;
    }

    [data-pos="3"] .video-item,
    [data-pos="6"] .video-item {
        translate: -65vw 0 0;
    }

    [data-pos="2"] .video-item,
    [data-pos="5"] .video-item {
        translate: 62vw 0 0;
    }
}