*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::after,
::before {
    position: absolute;
    display: block;
}

a {
    text-decoration: none;
    color: unset;
}

ul,
ol {
    list-style: none;
}

button:active,
input[type=submit]:active,
input:focus,
textarea:focus {
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

input,
textarea {
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
}

input,
textarea,
button {
    font-family: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
    background: none;
    color: unset;
}

input {
    -moz-appearance: textfield;
    appearance: textfield;
}


/* STARTS HERE */

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}

.perspective-container {
    width: 600px;
    height: 100%;
    perspective: 1000px;
}

.video-item {
    width: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: translate 1.2s linear;
    /* transition: translate 2s cubic-bezier(0, -0.44, .7, .59); */
}

.video-container {
    width: fit-content;
    height: fit-content;
    position: absolute;
    transition: translate 1.2s cubic-bezier(.01, 1.37, .72, 1.33);
    /* transition: translate 2s cubic-bezier(0, -0.44, .7, .59); */
}

.expand,
.clockwise,
.anti-clockwise {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 2;
    cursor: pointer;
}

video {
    max-width: 1200px;
    height: auto;
    pointer-events: none;
}

[data-pos="1"],
[data-pos="4"] {
    z-index: 10;
}

[data-pos="1"] .video-item,
[data-pos="1"] .video-item,
[data-pos="4"] .video-container,
[data-pos="4"] .video-container {
    translate: 0 0 0;
}


[data-pos="3"] .video-item,
[data-pos="6"] .video-item {
    translate: -1300px 0 0;
}

.video-container[data-pos="3"],
.video-container[data-pos="6"] {
    translate: 0 0 -2000px;
}

[data-pos="2"] .video-item,
[data-pos="5"] .video-item {
    translate: 1000px 0 0;
    transition: translate 1.2s linear;
}

.video-container[data-pos="2"],
.video-container[data-pos="5"] {
    transition: translate 1.2s cubic-bezier(.01, 1.37, .72, 1.33);
    translate: 0 0 -1300px;
}


[data-pos="1"] .anti-clockwise,
[data-pos="4"] .anti-clockwise,
[data-pos="1"] .clockwise,
[data-pos="4"] .clockwise {
    visibility: hidden;
}

[data-pos="2"] .expand,
[data-pos="5"] .expand,
[data-pos="2"] .anti-clockwise,
[data-pos="5"] .anti-clockwise {
    visibility: hidden;
}

[data-pos="3"] .clockwise,
[data-pos="6"] .clockwise,
[data-pos="3"] .expand,
[data-pos="6"] .expand {
    visibility: hidden;
}